@import "tailwindcss";

@theme {
  --default-font-family: "Outfit", sans-serif;
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --color-background: #f9fafb;
  --color-white: #ffffff;
  --color-text: #111827;
  --color-text-subtle: #6b7280;
}

:root {
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --color-background: #f9fafb;
  --color-white: #ffffff;
  --color-text: #111827;
  --color-text-subtle: #6b7280;
}

body {
  background-color: var(--color-white);
}

.btn-primary {
  @apply bg-primary text-white hover:bg-primary/80;
}

.btn-danger{
  @apply bg-red-100 text-red-500 hover:bg-red-400 hover:text-white;
}


.badge-success {
  @apply bg-green-100 text-green-400 px-3 py-1 rounded-sm;
}

.badge-danger {
  @apply bg-red-100 text-red-400 px-3 py-1 rounded-sm;
}

.transition{
  @apply transition-all duration-200 ease-in-out;
}